* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0px 10px 10px -6px #214C54;
    background-color: #F2F2F2;
}

.brand{
    padding-left: 20px;
    color: #000622;

}


.title1{
    color: #384245;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    padding-left: 20px;
    margin-right: 20px;
}

.action1:hover{
    cursor: pointer;
    box-shadow: 0px 4px 4px #A060FF;
    transition: 0.3s ease;
}
.action1{
    color: #fff;
    margin-right: 20px;
    border-radius: 25px;
    background-color: #214C54;
    outline: none;
    border: 0;
    padding: 15px;
    overflow: hidden;
    transition: all 0.5s;
    width: 180px;

}
.action1::before{
    content: attr(data-initial);
    transition: all 0.3s ease-in-out;
}

.action1:hover::before{
    content:attr(data-hover);
    transition: all 0.3s ease-in-out;
}

@media (max-width: 600px){
    .head{
        grid-template-columns: 1fr 1fr;
    }
    .title1{
        font-size: 14px;
    }
    .brand{
        font-size: 18px;
    }

    .products{
        justify-content: space-around;
        margin-left: 0px;
        gap: 4px;
    }
    .card img{
        height: 180px;
    }
}

.boxTitle{
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 4px #214C54;
}
.boxTitle:hover{
    background-color: #CEE3DB;
    transition: all 0.5s ease;
}
.title{
    font-size: 20px;
    color: #384245;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;

}

.boxProducts{
    margin: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.products{
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}



.card{
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.card:hover{
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
    transition: .5s ease all; 
}
.card img{
    height: 300px;
}


.boxBoton{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px #214C54 ;
    background-color: white;
    border-radius: 3px;
    padding: 0px;
}
.boxBoton:hover{
    color: #fff;
    background-image: linear-gradient(to right bottom, #214c54, #124353, #0b3952, #122e4d, #1e2245);
    transition: all 0.5s ease-in-out;
}
.boton {
    text-decoration: none;
    color: #214C54;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 6px;
}
.boton:hover{
    color: #fff; 
}
