* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

.head{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 80px;
    box-shadow: 0px 10px 10px -6px black;
    background-color: #F2F2F2;
}

.brand{
    padding-left: 20px;
    color: #000622;

}


.title1{
    color: #384245;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    padding-left: 20px;
}
.compra{
    border-left: solid 5px #214C54 ;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: center;
}
.compra:hover{
    border-radius: 3px;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
    color: #fff;
    background-color: #214C54;
    transition: .5s ease all;
}

@media (max-width: 620px){
    .head{
        grid-template-columns: 1fr 1fr;
    }
    .compra{
        font-size: 14px;
    }
    .title1{
        font-size: 14px;
    }
    .brand{
        font-size: 18px;
    }
}

.boxTitle{
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.boxTitle:hover{
    background-color: #CEE3DB;
}
.title{
    font-size: 20px;
    color: #384245;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
}

.boxProducts{
    margin: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.products{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.card:hover{
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
    transition: .5s ease all; 
}
.card img{
    height: 350px;
}
.linkCompra{
    text-decoration: none;
    cursor: pointer;
    color: #214C54;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 15px;
}
.linkCompra:hover{
    font-weight: bolder;
}

.boxBoton{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: 30px;
    border: #214C54 solid 1px;
    background-color: white;
    border-radius: 3px;
    padding: 0px;
}
.boxBoton:hover{
    color: #fff;
    background-color: #214C54;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1)
}
.boton {
    text-decoration: none;
    color: #214C54;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 6px;
}
.boton:hover{
    color: #fff; 
}
